.App {
  position: relative;
}

.cover-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.page-container {
  min-height: 100vh;
  background-image: url("./assets/parchment.png");
}

.page-content {
  text-align: center;
  padding: 100px;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
  position: "relative";
  z-index: 1;
}

.cover-content {
  align-items: center;
}

.audio-toggle {
  position: fixed;
  top: 40px;
  right: 40px;
  padding: 20px;
  z-index: 99;
  cursor: pointer;
}

.drawer-toggle {
  position: fixed;
  top: 40px;
  left: 40px;
  padding: 20px;
  z-index: 99;
  cursor: pointer;
}
